body{
  text-align:center;
  padding:50px;
}
.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}
.close{
    position: relative;
        top: -19px;
    right: -871px;
    z-index: 999;
    background: #000 !important;
    border-color: #fff !important;
    color: #fff !important;
    font-size: 26px !important;
    line-height: 29px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    opacity: 1;
    width: 33px;
    border-radius: 50%;
    border: 2px solid #fff !important;
}

.launch {
 display: inline-block;
 border-radius: 4px;
 background-color: #3d405b;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 17px;
 padding: 16px;
 width: 130px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
}

.launch span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

.launch span:after {
 content: '»';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -15px;
 transition: 0.5s;
}

.launch:hover span {
 padding-right: 15px;
}

.launch:hover span:after {
 opacity: 1;
 right: 0;
}
